* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}


.contenedor {
    width: 600px;
    height: 900px;
    border: 1px solid white;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: black;

}

.cuadrado {
    width: 220px;
    height: 250px;
    position: absolute;
    top: 660px;
    left: 330px;
    padding: 10px;
}

.franja1 {
    width: 600px;
    height: 500px;
    background-color: yellow;
    position: absolute;
    top: 120px;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 65%);
    overflow: hidden;
    z-index: 2;

}

.gimnasio {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    animation: gimnasio 4s 1 forwards;
    position: relative;
}

@keyframes gimnasio {
    from {
        transform: scale(1);
        filter: blur(4px);
    }

    to {
        transform: scale(1.35);
        filter: blur(0);
    }
}

.franja2 {
    width: 250px;
    height: 400px;
    background-color: yellow;
    position: absolute;
    top: 450px;
    left: 60px;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
    z-index: 3;

    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 px;


}

.franja3 {
    width: 600px;
    height: 700px;
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    z-index: 1;
    margin: 0px;
    padding: 0px;

    background-image: url("../img/textura.jpg");
    background-size: cover;
    background-position: center;

    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
}

.modelo {
    width: 430px;
    left: -42px;
    top: -48px;
    position: absolute;
    z-index: 2;
    animation: modelo 4s 1 forwards;
}

@keyframes modelo {
    from {
        top: 10px;
        transform: scale(0.8);
        filter: grayscale(100%);
    }

    to {
        top: -30px;
        transform: scale(1.08);
        filter: grayscale(0%);
    }
}

.fitness {
    width: 60px;
    top: 844px;
    left: 370px;
    position: absolute;
}

.parrafo {
    margin-top: 0;
    padding-top: 110px;
    font-size: 2.1rem;
    line-height: 0.9;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

ul {
    font-size: 0.66rem;
    margin-top: 0px;
    padding-left: 0;
    list-style-position: inside;
    text-align: left;
    margin-bottom: 30px;
}

P {
    font-size: 0.6rem;
    font-weight: 900;

}

.pagina {
    color: white;
    font-size: 0.65rem;
    position: relative;
    top: 865px;
    left: 105px;
}

h3 {
    color: white;
    font-size: 16px;
    margin: 10px 0;
}

h2 {
    color: white;
    font-size: 25px;
    margin: 0;
}

.datos {
    color: white;
    font-size: 10px;
    margin: 0;
}

.fila {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.icono {
    color: #ffc400;
    font-size: 18px;
    width: 20px;
}

.gris {
    color: gray;
}

.titulo1 {
    color: yellow;
    font-size: 2.8rem;
    position: absolute;
    left: 320px;
    top: 20px;
}

.titulo2 {
    color: white;
    font-size: 2.8rem;
    position: absolute;
    left: 320px;
    top: 70px;
}

.subtitulo1 {
    color: yellow;
    font-size: 1.2rem;
    position: relative;
    top: 842px;
    left: 440px;
}

.subtitulo2 {
    color: white;
    font-size: 1.2rem;
    position: relative;
    top: 840px;
    left: 440px;
}

.menu {
    text-align: center;
    margin-top: 15px;
}

.titulo {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 15px;
}

.contenedor10 {
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}